* {
    margin: 0;
    padding: 0;
}

p span {
    color: red;
}

h1 span {
    color: blue;
}

.destacado {
    color: red;
}

#destacado {
    color: red;
}

div.aviso span.especial {
    font-size: 50px;
}