doctype
html(lang="en")
	head
		meta(charset="UTF-8")
		title Challenge Pug
		style.
			body{
				margin: 0px;
			}
			div {
				height: 58.05px;
				margin: 5px;
			}
	body
		each val, index in ['#fff', '#f8dcdc', '#ffb4b4', '#fd9b9b', '#ff7e7e', '#ff6969', '#ff4c4c', '#ff2929', '#fc1414', '#ff0000']
				div(style='background-color:'+val)