<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Vue JS 3</title>
   <link rel="stylesheet" href="css/fonts.css">
</head>
<body class="bg-gradient-to-t from-[#34495E] to-[#41B883] min-h-screen flex justify-center items-center">
   <main id="app" class="relative bg-white/70 w-96 h-[640px] rounded-xl shadow-xl">
      <svg class="h-28 w-28 mx-auto my-6" viewBox="0 0 128 128" width="24" height="24" data-v-5f26462c="">
         <path fill="#42b883" d="M78.8,10L64,35.4L49.2,10H0l64,110l64-110C128,10,78.8,10,78.8,10z" data-v-5f26462c=""></path>
         <path fill="#35495e" d="M78.8,10L64,35.4L49.2,10H25.6L64,76l38.4-66H78.8z" data-v-5f26462c=""></path>
      </svg>
      <h1 class="text-center text-3xl mb-6 font-semibold bg-gradient-to-l from-[#34495E] to-[#41B883] bg-clip-text text-transparent">{{title}}</h1>
      <input type="text" v-model="vtext" class="flex mx-auto p-2 rounded-xl shadow-xl outline-none" placeholder="type text" maxlength="10">
      <output class="flex mx-10 uppercase my-3 bg-[#41B883] rounded-lg p-1 place-content-center"> TEXT: {{ vtext }} </output>

      <hr class="border-[#34495e]/50 border-dashed">
      <select v-model="color" class="flex mx-auto p-2 rounded-xl shadow-xl outline-none mt-6 w-36 justify-content" >
         <option value="Black ⚫">Black</option>
         <option value="White 🔘">White</option>
         <option value="Yellow 🟡">Yellow</option>
         <option value="Blue 🔵">Blue</option>
         <option value="Red 🔴">Red</option>
      </select>
      <output class="flex mx-10 uppercase my-3 bg-[#41B883] rounded-lg items-end p-1 place-content-center"> color Selected: <strong>{{ color }}</strong></output>

      <hr class="border-[#34495e]/50 border-dashed">
      <input type="checkbox" v-model="active" class="flex mx-auto mt-6 scale-150">
      <output class="flex mx-10 uppercase my-3 bg-[#41B883] rounded-lg items-end p-1 place-content-center"> Checked: <strong> {{ active }}</strong></output>

      <a href="index.html" class="absolute bottom-2 left-[164px] h-14 w-14  text-[#34495e] hover:scale-125 hover:text-[#41b883] transition duration-300">
         <svg xmlns="http://www.w3.org/2000/svg" class="" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm.707-10.293a1 1 0 00-1.414-1.414l-3 3a1 1 0 000 1.414l3 3a1 1 0 001.414-1.414L9.414 11H13a1 1 0 100-2H9.414l1.293-1.293z" clip-rule="evenodd" />
         </svg>
      </a>
   </main>
</body>
</html>
<script src="js/tailwind-3.0.23.js"></script>
<script src="js/vue3.2.31.js"></script>
<script>
   const form = {
      data(){
         return{
            title : '04 - Form Binding',
            vtext : '',
            color: 'Black ⚫',
            active: false
         }
      }
   }
   var mountapp = Vue.createApp(form).mount('#app');
</script>